.App {
  text-align: center;
}

/******************************************************************/
/* header */

.header-color {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/******************************************************************/
/* home page css*/

.home-grid {
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.profile-img {
  height: 20rem;
  padding-top: 5em;
  width: auto;
}

.banner-text {
  background-color: darkslategray;
  opacity: 0.8;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 1rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8;
}

/******************************************************************/
/* works page*/
.works-grid {
  display: flex;
}

/******************************************************************/
/* contact page*/
.contact-body {
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  width: 100%;
}
